<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do List</title>
    <script src="https://kit.fontawesome.com/20a3019659.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>

    <div class="user-profile">
        <% if (user){ %>
            <div class="user-image"><img src="<%= user.picture %>" alt="<%= user.nickname%>"></div>
            <a href="/profile" class="profile-btn">profile</a>
        <% }else{ %>
            <a href="/login" class="login-btn">Login</a>
        <% } %>
    </div>

    <div id="app"> 
      <h1>to do list</h1>
      <ul class="todo-list">
        <% task.forEach(elem =>{ %>
            <% if (elem._id == taskId){ %>
        <li class="todo-list-item">
            <form action="/edit/<%= elem._id %>" method="post" class="form">
                <input type="text" value="<%= elem.task %>" name="task" id="inputfield">
                <div class="edit-btn">
                    <button type="submit" class="confirm-btn">Confirm</button>
                    <a href="/" class="cancel-btn">Cancel</a>
                </div>
            </form>
        </li>
        <% } else {%>
        <li class="todo-list-item">
            <div class="todo-list-item-name"><%= elem.task %></div>
            <div class="edit-btn">
              <a href="/edit/<%= elem._id %>" class="a edit">
                <span class="fas fa-edit"></span>
              </a>
              <a href="/remove/<%= elem._id %>" class="a remove">
                <span class="fas fa-times"></span>
              </a>
            </div>
        </li>   
        <% } %>
        <% }) %>
      </ul>
      <form action="/" method="post">
        <input type="text" name="task" id="inputfield" placeholder="New task">
        <button class="btn_add">Add</button>
      </form>
      <p>Insert a new task</p>
    </div>
    <% if (user){ %>
        <a href="/logout" class="login-btn">Logout</a>
    <% } %>
</body>

</html>
